In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

df_test = pd.read_csv("./test.csv/test.csv",parse_dates=['timestamp'])
df_train = pd.read_csv("./train.csv/train.csv",parse_dates=['timestamp'])

df_train.timestamp.head(10)

In [ ]:
df_train.timestamp.dt.year
df = pd.DataFrame()
df["year"] = df_train.timestamp.dt.year
print df["year"]
df["month"] = df_train.timestamp.dt.month
print df.loc[:,["year","month"]]

ind = df[df["year"] == 2011].index
print ind
print df.ix[ind,"year"]
ind = df[df["year"] == 2012].index
print df.ix[ind,"year"]

In [ ]:
df_train.timestamp.tail(10)

In [ ]:
df_test.timestamp.head(10)

In [ ]:
df_test.timestamp.tail(10)

In [ ]:
discount_2011 = (1+0.0844)*(1+0.0508)*(1+0.0676)*(1+0.0782)*(1+0.1553)
print discount_2011

In [ ]:
discount_2012 = (1+0.0508)*(1+0.0676)*(1+0.0782)*(1+0.1553)
print discount_2012

In [ ]:
print 1/discount_2011

In [ ]:
discount_2013 = (1+0.0676)*(1+0.0782)*(1+0.1553)
print discount_2013

In [ ]:
discount_2014 = (1+0.0782)*(1+0.1553)
print discount_2014

In [ ]:
discount_2015 = (1+0.1553)
print discount_2015

In [ ]:
a = (1+0.0844)*(1+0.0508)*(1+0.0676)*(1+0.0782)
print a

In [ ]:
1/a

In [ ]:
d_11 = (1+0.0844)*(1+0.0508)*(1+0.0676)*(1+0.0782)
d_12 = (1+0.0508)*(1+0.0676)*(1+0.0782)*(1+0.1553)

print (0.1553+0.0782)/2

In [ ]:
print 1/1.11675

In [ ]:
r_11 = (1+0.0507)*(1+0.0676)*(1+0.0782)*(1+0.1553)*(1+0.0705)
print r_11

In [ ]:
r_12 = (1+0.0676)*(1+0.0782)*(1+0.1553)*(1+0.0705)
print r_12

In [ ]:
r_13 = (1+0.0782)*(1+0.1553)*(1+0.0705)
print r_13

In [ ]:
r_14 = (1+0.1553)*(1+0.0705)
print r_14

In [ ]:
r_15 = (1+0.0705)
print r_15

In [18]:
r_11= [7.75,8,8,8,8.25,8.25,8.25,8.25,8.25,8.25,8.25,8]
print len(r_11)

12

In [19]:
r_12 = [8,8,8,8,8,8,8,8,8.25,8.25,8.25,8.25]
print len(r_12)

12

In [20]:
r_13 = [8.25,8.25,8.25,8.25,8.25,8.25,8.25,8.25,5.5,5.5,5.5,5.5]
r_14 = [5.5,5.5,7,7.5,7.5,7.5,8,8,8,9.5,9.5,17]
r_15 = [15,15,14,12.5,12.5,11.5,11.5,11,11,11,11,11]
r_16 = [11,11,11,11,11,10.5,10.5,10.5,10,10,0,0]

i_11 = [2.37,0.78,0.60,0.43,0.48,0.23,0.00,-0.23,-0.06,0.48,0.42,0.45]
print len(i_11)

12

In [21]:
x = 1
for r in i_11:
    x *= 1+r/100
print x

1.06090124559

In [22]:
1/x

0.9425948024434309

In [23]:
i_12 = [0.48,0.39,0.58,0.30,0.52,0.87,1.25,0.08,0.56,0.45,0.34,0.53]
x = 1
for r in i_12:
    x*=1+r/100
print x
print 1/x

1.06533074132
0.938675625523

In [24]:
i_13 = [1.0,0.56,0.34,0.51,0.66,0.42,0.82,0.14,0.21,0.57,0.57,0.5]
i_14 = [0.59,0.70,1.02,0.90,0.90,0.62,0.49,0.24,0.65,0.82,1.28,2.62]
i_15 = [3.85,2.22,1.21,0.46,0.35,0.19,0.80,0.35,0.57,0.74,0.75,0.77]
i_16 = [0.96,0.63,0.46,0.44,0.41,0.36,0.54,0.01,0.17,0.43,0.44,0.40]


print len(i_11)
print len(i_12)
print len(i_13)
print len(i_14)
print len(i_15)
print len(i_16)
print len(r_11)
print len(r_12)
print len(r_13)
print len(r_14)
print len(r_15)
print len(r_16)


def calc(data):
    x = 1
    for r in data:
        x*= 1+ r/100
    print x
    print 1/x

calc(i_13)
calc(i_14)
calc(i_15)
calc(i_16)

12
12
12
12
12
12
12
12
12
12
12
12
1.0648181755
0.939127470785
1.11362345103
0.897969595623
1.12908164822
0.885675541336
1.05375142191
0.948990415776

In [25]:
import pandas as pd
import numpy as np




df = pd.DataFrame({"r_11":r_11,"r_12":r_12,"r_13":r_13,"r_14":r_14,"r_15":r_15,"r_16":r_16,
                   "ir_11":i_11,"ir_12":i_12,"ir_13":i_13,"ir_14":i_14,"ir_15":i_15,"ir_16":i_16})
df

,ir_11,ir_12,ir_13,ir_14,ir_15,ir_16,r_11,r_12,r_13,r_14,r_15,r_16
0,2.37,0.48,1.00,0.59,3.85,0.96,7.75,8.00,8.25,5.5,15.0,11.0
1,0.78,0.39,0.56,0.70,2.22,0.63,8.00,8.00,8.25,5.5,15.0,11.0
2,0.60,0.58,0.34,1.02,1.21,0.46,8.00,8.00,8.25,7.0,14.0,11.0
3,0.43,0.30,0.51,0.90,0.46,0.44,8.00,8.00,8.25,7.5,12.5,11.0
4,0.48,0.52,0.66,0.90,0.35,0.41,8.25,8.00,8.25,7.5,12.5,11.0
5,0.23,0.87,0.42,0.62,0.19,0.36,8.25,8.00,8.25,7.5,11.5,10.5
6,0.00,1.25,0.82,0.49,0.80,0.54,8.25,8.00,8.25,8.0,11.5,10.5
7,-0.23,0.08,0.14,0.24,0.35,0.01,8.25,8.00,8.25,8.0,11.0,10.5
8,-0.06,0.56,0.21,0.65,0.57,0.17,8.25,8.25,5.50,8.0,11.0,10.0
9,0.48,0.45,0.57,0.82,0.74,0.43,8.25,8.25,5.50,9.5,11.0,10.0
10,0.42,0.34,0.57,1.28,0.75,0.44,8.25,8.25,5.50,9.5,11.0,0.0
11,0.45,0.53,0.50,2.62,0.77,0.40,8.00,8.25,5.50,17.0,11.0,0.0

In [26]:
df.to_csv("rate.csv")

In [27]:
calc(df.ir_11.values)

1.06090124559
0.942594802443

In [28]:
calc(df.ir_12.values)

1.06533074132
0.938675625523

In [29]:
calc(df.ir_13.values)

1.0648181755
0.939127470785

In [30]:
calc(df.ir_14.values)

1.11362345103
0.897969595623

In [31]:
calc(df.ir_15.values)

1.12908164822
0.885675541336

In [32]:
calc(df.ir_16.values)

1.05375142191
0.948990415776

In [33]:
calc(df.r_11.values)

2.55333404499
0.391644799458

In [38]:
import math
x = pow(7.75,(1./12.))
print x

1.18606495865

In [40]:
pow(8.0,(1./12))

1.189207115002721

In [41]:

def calb(data):
    cr = []
    for r in data:
        x = pow(r,(1./12))
        cr.append(x)
    return cr

cr_11 = calb(df.r_11.values)
cr_12 = calb(df.r_12.values)
cr_13 = calb(df.r_13.values)
cr_14 = calb(df.r_14.values)
cr_15 = calb(df.r_15.values)
cr_16 = calb(df.r_16.values)

df["cr_11"] = cr_11

In [46]:
df["cr_12"] = cr_12
df["cr_13"] = cr_13
df["cr_14"] = cr_14
df["cr_15"] = cr_15
df["cr_16"] = cr_16

df

,ir_11,ir_12,ir_13,ir_14,ir_15,ir_16,r_11,r_12,r_13,r_14,r_15,r_16,cr_11,cr_12,cr_13,cr_14,cr_15,cr_16
0,2.37,0.48,1.00,0.59,3.85,0.96,7.75,8.00,8.25,5.5,15.0,11.0,1.186065,1.189207,1.192261,1.152649,1.253163,1.221189
1,0.78,0.39,0.56,0.70,2.22,0.63,8.00,8.00,8.25,5.5,15.0,11.0,1.189207,1.189207,1.192261,1.152649,1.253163,1.221189
2,0.60,0.58,0.34,1.02,1.21,0.46,8.00,8.00,8.25,7.0,14.0,11.0,1.189207,1.189207,1.192261,1.176047,1.245979,1.221189
3,0.43,0.30,0.51,0.90,0.46,0.44,8.00,8.00,8.25,7.5,12.5,11.0,1.189207,1.189207,1.192261,1.182828,1.234267,1.221189
4,0.48,0.52,0.66,0.90,0.35,0.41,8.25,8.00,8.25,7.5,12.5,11.0,1.192261,1.189207,1.192261,1.182828,1.234267,1.221189
5,0.23,0.87,0.42,0.62,0.19,0.36,8.25,8.00,8.25,7.5,11.5,10.5,1.192261,1.189207,1.192261,1.182828,1.225721,1.216464
6,0.00,1.25,0.82,0.49,0.80,0.54,8.25,8.00,8.25,8.0,11.5,10.5,1.192261,1.189207,1.192261,1.189207,1.225721,1.216464
7,-0.23,0.08,0.14,0.24,0.35,0.01,8.25,8.00,8.25,8.0,11.0,10.5,1.192261,1.189207,1.192261,1.189207,1.221189,1.216464
8,-0.06,0.56,0.21,0.65,0.57,0.17,8.25,8.25,5.50,8.0,11.0,10.0,1.192261,1.192261,1.152649,1.189207,1.221189,1.211528
9,0.48,0.45,0.57,0.82,0.74,0.43,8.25,8.25,5.50,9.5,11.0,10.0,1.192261,1.192261,1.152649,1.206360,1.221189,1.211528
10,0.42,0.34,0.57,1.28,0.75,0.44,8.25,8.25,5.50,9.5,11.0,0.0,1.192261,1.192261,1.152649,1.206360,1.221189,0.000000
11,0.45,0.53,0.50,2.62,0.77,0.40,8.00,8.25,5.50,17.0,11.0,0.0,1.189207,1.192261,1.152649,1.266302,1.221189,0.000000

In [47]:
df.to_csv("rate.csv")

In [49]:
df_train = pd.read_csv("./train.csv/train.csv",parse_dates=["timestamp"])

In [56]:
sub_area_mean = df_train.groupby("sub_area")["price_doc"].mean()

TypeError: unhashable type

In [53]:
sub_area_median = df_train.groupby("sub_area")["price_doc"].median()

In [54]:
sub_area_mean

sub_area
Ajeroport                  9888950
Akademicheskoe            10575756
Alekseevskoe               8978795
Altuf'evskoe               5516201
Arbat                     15794800
Babushkinskoe              7637641
Basmannoe                 11587719
Begovoe                   10623608
Beskudnikovskoe            6770564
Bibirevo                   6670177
Birjulevo Vostochnoe       5522693
Birjulevo Zapadnoe         5174179
Bogorodskoe                6414163
Brateevo                   6732381
Butyrskoe                  7662112
Caricyno                   5840068
Cheremushki                9030183
Chertanovo Central'noe     7303110
Chertanovo Juzhnoe         7064347
Chertanovo Severnoe        7424557
Danilovskoe               10048985
Dmitrovskoe                5718275
Donskoe                   12353644
Dorogomilovo              12603389
Filevskij Park             8698197
Fili Davydkovo             8690294
Gagarinskoe               12851683
Gol'janovo                 5792339
Golovinskoe                6283254
Hamovniki                 20116565
                            ...
Severnoe Izmajlovo         5944907
Severnoe Medvedkovo        6949813
Severnoe Tushino           7895547
Shhukino                   9298412
Silino                     6078500
Sokol                      9676444
Sokol'niki                11751704
Sokolinaja Gora            7421747
Solncevo                   5585877
Staroe Krjukovo            4848811
Strogino                   9184445
Sviblovo                   8218231
Taganskoe                 10153920
Tekstil'shhiki             6605065
Teplyj Stan                8563557
Timirjazevskoe             7474839
Troickij okrug             5156576
Troparevo-Nikulino        11448674
Tverskoe                   7109681
Veshnjaki                  5804444
Vnukovo                    5024090
Vojkovskoe                 9561487
Vostochnoe                 4800000
Vostochnoe Degunino        6647743
Vostochnoe Izmajlovo       5584995
Vyhino-Zhulebino           6530211
Zamoskvorech'e            16218682
Zapadnoe Degunino          5310922
Zjablikovo                 6644779
Zjuzino                    8244375
Name: price_doc, dtype: int64

In [55]:
sub_area_median

sub_area
Ajeroport                  8400000
Akademicheskoe             9000000
Alekseevskoe               7500000
Altuf'evskoe               5950000
Arbat                     12000000
Babushkinskoe              6950000
Basmannoe                 10450000
Begovoe                    9600000
Beskudnikovskoe            6450000
Bibirevo                   6700000
Birjulevo Vostochnoe       5550000
Birjulevo Zapadnoe         5300000
Bogorodskoe                6200000
Brateevo                   6450000
Butyrskoe                  7500000
Caricyno                   5800000
Cheremushki                7725000
Chertanovo Central'noe     6700000
Chertanovo Juzhnoe         6900000
Chertanovo Severnoe        7125000
Danilovskoe                8350000
Dmitrovskoe                5800000
Donskoe                    8350000
Dorogomilovo              12275000
Filevskij Park             8657555
Fili Davydkovo             7300000
Gagarinskoe               11700000
Gol'janovo                 5900000
Golovinskoe                6350000
Hamovniki                 15625000
                            ...
Severnoe Izmajlovo         5800000
Severnoe Medvedkovo        6900000
Severnoe Tushino           7363900
Shhukino                   7700000
Silino                     6050000
Sokol                      8790000
Sokol'niki                 9362500
Sokolinaja Gora            6600000
Solncevo                   5550000
Staroe Krjukovo            5375000
Strogino                   8128080
Sviblovo                   7700000
Taganskoe                  8900000
Tekstil'shhiki             6428614
Teplyj Stan                7800000
Timirjazevskoe             7075000
Troickij okrug             4850000
Troparevo-Nikulino        11500000
Tverskoe                   5595230
Veshnjaki                  5900000
Vnukovo                    4900000
Vojkovskoe                 8300000
Vostochnoe                 4700000
Vostochnoe Degunino        6300000
Vostochnoe Izmajlovo       5625000
Vyhino-Zhulebino           6200000
Zamoskvorech'e            12750000
Zapadnoe Degunino          4961130
Zjablikovo                 6650000
Zjuzino                    6700000
Name: price_doc, dtype: int64

In [58]:
for r in sub_area_median:
    print r

8400000
9000000
7500000
5950000
12000000
6950000
10450000
9600000
6450000
6700000
5550000
5300000
6200000
6450000
7500000
5800000
7725000
6700000
6900000
7125000
8350000
5800000
8350000
12275000
8657555
7300000
11700000
5900000
6350000
15625000
7200000
8235000
7350000
6300000
7200000
10600000
6200000
8000000
6100000
6391772
6500000
8250000
5000000
7825000
6400000
6050000
6700000
10000000
6095150
11800000
7510000
13930000
5650000
6700000
8300000
6535000
6000000
13500000
6700000
7729032
6950000
6200000
5150000
9925000
5600000
8700000
1200000
7750000
6500000
7050000
8200000
9100000
5490262
5850000
6600000
6100000
7300000
12500000
6900000
6800000
6645000
7900000
7100000
5700000
6000000
7351400
4317441
3153072
9720223
1000000
3358330
3630000
3600000
3480000
5450865
5069500
2795473
4504317
5573750
6336347
2925500
3943865
5032408
5898903
3250000
5156423
6425000
9415000
8700000
10630400
5995000
6900000
5100000
7200000
5950000
7125000
5800000
6900000
7363900
7700000
6050000
8790000
9362500
6600000
5550000
5375000
8128080
7700000
8900000
6428614
7800000
7075000
4850000
11500000
5595230
5900000
4900000
8300000
4700000
6300000
5625000
6200000
12750000
4961130
6650000
6700000

In [59]:
sub_areas = df_train.groupby("sub_area")

In [60]:
sub_areas

In [67]:
df_train.loc[:738]

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,13,22,1,0,52,4,5850000
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,15,3,0,15,29,1,10,66,14,6000000
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,...,10,3,0,11,27,0,4,67,10,5700000
3,4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,...,11,2,1,4,4,0,0,26,3,13100000
4,5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,...,319,108,17,135,236,2,91,195,14,16331452
5,6,2011-09-06,67,46.0,14.0,NaN,NaN,NaN,NaN,NaN,...,62,14,1,53,78,1,20,113,17,9100000
6,7,2011-09-08,25,14.0,10.0,NaN,NaN,NaN,NaN,NaN,...,81,16,3,38,80,1,27,127,8,5500000
7,8,2011-09-09,44,44.0,5.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,11,18,1,0,47,4,2000000
8,9,2011-09-10,42,27.0,5.0,NaN,NaN,NaN,NaN,NaN,...,19,8,1,18,34,1,3,85,11,5300000
9,10,2011-09-13,36,21.0,9.0,NaN,NaN,NaN,NaN,NaN,...,19,13,0,10,20,1,3,67,1,2000000
10,11,2011-09-16,36,19.0,12.0,NaN,NaN,NaN,NaN,NaN,...,1,1,0,5,9,0,2,17,6,4650000
11,12,2011-09-16,38,19.0,11.0,NaN,NaN,NaN,NaN,NaN,...,8,3,0,10,9,0,0,35,4,4800000
12,13,2011-09-17,43,28.0,4.0,NaN,NaN,NaN,NaN,NaN,...,13,9,1,7,15,0,2,47,0,5100000
13,14,2011-09-19,31,31.0,4.0,NaN,NaN,NaN,NaN,NaN,...,254,108,22,57,102,1,72,166,7,5200000
14,15,2011-09-19,31,21.0,3.0,NaN,NaN,NaN,NaN,NaN,...,88,19,2,63,100,0,28,132,14,5000000
15,16,2011-09-20,51,31.0,15.0,NaN,NaN,NaN,NaN,NaN,...,6,1,0,9,21,0,1,53,9,1850000
16,17,2011-09-20,47,31.0,4.0,NaN,NaN,NaN,NaN,NaN,...,10,2,0,7,23,0,4,62,13,6300000
17,18,2011-09-20,42,28.0,2.0,NaN,NaN,NaN,NaN,NaN,...,32,6,0,13,33,1,10,72,12,5900000
18,19,2011-09-22,59,33.0,10.0,NaN,NaN,NaN,NaN,NaN,...,1,1,0,6,9,0,2,17,6,7900000
19,20,2011-09-22,44,29.0,4.0,NaN,NaN,NaN,NaN,NaN,...,9,2,0,10,14,0,2,51,5,5200000
20,21,2011-09-22,74,44.0,10.0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,5,0,0,0,0,8200000
21,22,2011-09-22,39,39.0,7.0,NaN,NaN,NaN,NaN,NaN,...,18,3,0,12,14,0,1,64,9,5200000
22,23,2011-09-23,48,34.0,6.0,NaN,NaN,NaN,NaN,NaN,...,16,4,1,11,10,0,1,55,8,6250000
23,24,2011-09-23,32,18.0,3.0,NaN,NaN,NaN,NaN,NaN,...,10,1,0,7,21,1,1,42,13,5750000
24,25,2011-09-23,34,19.0,11.0,NaN,NaN,NaN,NaN,NaN,...,20,4,1,8,9,0,1,56,8,6000000
25,26,2011-09-24,45,29.0,9.0,NaN,NaN,NaN,NaN,NaN,...,23,15,1,11,23,1,4,70,1,1050000
26,27,2011-09-26,35,20.0,4.0,NaN,NaN,NaN,NaN,NaN,...,16,5,0,13,25,1,3,84,4,5000000
27,28,2011-09-26,38,20.0,6.0,NaN,NaN,NaN,NaN,NaN,...,1,1,0,2,10,0,1,11,2,4700000
28,29,2011-09-26,73,38.0,15.0,NaN,NaN,NaN,NaN,NaN,...,20,3,0,17,35,0,9,98,7,8254400
29,30,2011-09-27,42,27.0,3.0,NaN,NaN,NaN,NaN,NaN,...,15,2,0,12,17,0,3,73,5,5900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,710,2011-12-26,38,19.0,2.0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,3,0,2,8,2,4400000
710,711,2011-12-26,56,32.0,20.0,NaN,NaN,NaN,NaN,NaN,...,38,3,1,5,35,1,6,83,11,2000000
711,712,2011-12-26,62,44.0,5.0,NaN,NaN,NaN,NaN,NaN,...,41,10,2,16,47,1,7,105,12,6000000
712,713,2011-12-27,34,21.0,7.0,NaN,NaN,NaN,NaN,NaN,...,6,2,0,4,11,0,2,31,6,990000
713,714,2011-12-27,39,23.0,11.0,NaN,NaN,NaN,NaN,NaN,...,11,2,0,8,26,1,8,54,12,5600000
714,715,2011-12-27,38,37.0,14.0,NaN,NaN,NaN,NaN,NaN,...,17,7,1,5,20,0,0,59,1,7400000
715,716,2011-12-27,37,18.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,1,0,2,9,1,0,20,2,5850000
716,717,2011-12-27,57,33.0,NaN,NaN,NaN,NaN,NaN,NaN,...,30,10,0,6,19,0,2,80,11,8000000
717,718,2011-12-27,57,30.0,5.0,NaN,NaN,NaN,NaN,NaN,...,267,111,23,68,135,1,61,161,14,10500000
718,719,2011-12-27,72,44.0,5.0,NaN,NaN,NaN,NaN,NaN,...,230,81,10,128,205,2,72,167,16,2000000
719,720,2011-12-27,51,30.0,17.0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,2,0,2,8,1,1387500
720,721,2011-12-27,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,3,0,0,5,7,0,0,36,6,4250000
721,722,2011-12-28,76,40.0,4.0,NaN,NaN,NaN,NaN,NaN,...,84,33,10,19,37,0,10,123,8,16750000
722,723,2011-12-28,32,16.0,4.0,NaN,NaN,NaN,NaN,NaN,...,7,2,0,6,13,0,2,45,9,5800000
723,724,2011-12-28,28,11.0,6.0,NaN,NaN,NaN,NaN,NaN,...,339,132,24,138,243,2,104,210,11,7217000
724,725,2011-12-28,38,21.0,3.0,NaN,NaN,NaN,NaN,NaN,...,25,2,0,15,29,1,4,85,5,4500000
725,726,2011-12-28,41,24.0,1.0,NaN,NaN,NaN,NaN,NaN,...,16,5,0,11,21,0,4,83,12,6800000
726,727,2011-12-28,92,92.0,3.0,NaN,NaN,NaN,NaN,NaN,...,369,139,26,148,236,2,104,184,15,24000000
727,728,2011-12-28,39,20.0,1.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,12,22,1,0,54,4,4990000
728,729,2011-12-28,33,18.0,5.0,NaN,NaN,NaN,NaN,NaN,...,10,4,0,7,10,0,2,34,0,4830000
729,730,2011-12-28,35,17.0,5.0,NaN,NaN,NaN,NaN,NaN,...,12,2,0,14,24,1,3,73,4,5200000
730,731,2011-12-28,30,18.0,3.0,NaN,NaN,NaN,NaN,NaN,...,26,5,0,30,43,0,16,115,11,4650000
731,732,2011-12-29,97,95.0,7.0,NaN,NaN,NaN,NaN,NaN,...,1,1,0,5,9,0,2,17,6,9200000
732,733,2011-12-29,32,14.0,2.0,NaN,NaN,NaN,NaN,NaN,...,328,118,20,135,241,2,104,195,14,9000000
733,734,2011-12-29,41,38.0,10.0,NaN,NaN,NaN,NaN,NaN,...,7,4,0,7,11,0,0,29,3,5400000
734,735,2011-12-29,44,28.0,14.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,12,22,1,0,53,4,5450000
735,736,2011-12-29,30,18.0,2.0,NaN,NaN,NaN,NaN,NaN,...,23,4,1,11,18,0,1,61,7,5300000
736,737,2011-12-29,57,40.0,2.0,NaN,NaN,NaN,NaN,NaN,...,17,6,0,12,22,0,4,87,11,6850000
737,738,2011-12-29,46,29.0,11.0,NaN,NaN,NaN,NaN,NaN,...,11,4,0,15,23,1,0,59,7,6100000
738,739,2011-12-29,38,17.0,25.0,NaN,NaN,NaN,NaN,NaN,...,12,4,0,12,25,1,0,66,5,4250000