In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
macro = pd.read_csv("./macro.csv")

In [3]:
macro.columns

Index([u'timestamp', u'oil_urals', u'gdp_quart', u'gdp_quart_growth', u'cpi',
       u'ppi', u'gdp_deflator', u'balance_trade', u'balance_trade_growth',
       u'usdrub', u'eurrub', u'brent', u'net_capital_export', u'gdp_annual',
       u'gdp_annual_growth', u'average_provision_of_build_contract',
       u'average_provision_of_build_contract_moscow', u'rts', u'micex',
       u'micex_rgbi_tr', u'micex_cbi_tr', u'deposits_value',
       u'deposits_growth', u'deposits_rate', u'mortgage_value',
       u'mortgage_growth', u'mortgage_rate', u'grp', u'grp_growth',
       u'income_per_cap', u'real_dispos_income_per_cap_growth', u'salary',
       u'salary_growth', u'fixed_basket', u'retail_trade_turnover',
       u'retail_trade_turnover_per_cap', u'retail_trade_turnover_growth',
       u'labor_force', u'unemployment', u'employment',
       u'invest_fixed_capital_per_cap', u'invest_fixed_assets',
       u'profitable_enterpr_share', u'unprofitable_enterpr_share',
       u'share_own_revenues', u'overdue_wages_per_cap', u'fin_res_per_cap',
       u'marriages_per_1000_cap', u'divorce_rate', u'construction_value',
       u'invest_fixed_assets_phys', u'pop_natural_increase', u'pop_migration',
       u'pop_total_inc', u'childbirth', u'mortality', u'housing_fund_sqm',
       u'lodging_sqm_per_cap', u'water_pipes_share', u'baths_share',
       u'sewerage_share', u'gas_share', u'hot_water_share',
       u'electric_stove_share', u'heating_share', u'old_house_share',
       u'average_life_exp', u'infant_mortarity_per_1000_cap',
       u'perinatal_mort_per_1000_cap', u'incidence_population',
       u'rent_price_4+room_bus', u'rent_price_3room_bus',
       u'rent_price_2room_bus', u'rent_price_1room_bus',
       u'rent_price_3room_eco', u'rent_price_2room_eco',
       u'rent_price_1room_eco', u'load_of_teachers_preschool_per_teacher',
       u'child_on_acc_pre_school', u'load_of_teachers_school_per_teacher',
       u'students_state_oneshift', u'modern_education_share',
       u'old_education_build_share', u'provision_doctors', u'provision_nurse',
       u'load_on_doctors', u'power_clinics',
       u'hospital_beds_available_per_cap', u'hospital_bed_occupancy_per_year',
       u'provision_retail_space_sqm', u'provision_retail_space_modern_sqm',
       u'turnover_catering_per_cap', u'theaters_viewers_per_1000_cap',
       u'seats_theather_rfmin_per_100000_cap', u'museum_visitis_per_100_cap',
       u'bandwidth_sports', u'population_reg_sports_share',
       u'students_reg_sports_share', u'apartment_build',
       u'apartment_fund_sqm'],
      dtype='object')

In [4]:
macro.head()

,timestamp,oil_urals,gdp_quart,gdp_quart_growth,cpi,ppi,gdp_deflator,balance_trade,balance_trade_growth,usdrub,...,provision_retail_space_modern_sqm,turnover_catering_per_cap,theaters_viewers_per_1000_cap,seats_theather_rfmin_per_100000_cap,museum_visitis_per_100_cap,bandwidth_sports,population_reg_sports_share,students_reg_sports_share,apartment_build,apartment_fund_sqm
0,2010-01-01,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690,6221,527,0.41,993,NaN,NaN,63.03,22825,NaN
1,2010-01-02,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690,6221,527,0.41,993,NaN,NaN,63.03,22825,NaN
2,2010-01-03,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690,6221,527,0.41,993,NaN,NaN,63.03,22825,NaN
3,2010-01-04,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.905,...,690,6221,527,0.41,993,NaN,NaN,63.03,22825,NaN
4,2010-01-05,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.836,...,690,6221,527,0.41,993,NaN,NaN,63.03,22825,NaN

In [14]:
macro.iloc[:,:10]

,timestamp,oil_urals,gdp_quart,gdp_quart_growth,cpi,ppi,gdp_deflator,balance_trade,balance_trade_growth,usdrub
0,2010-01-01,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-02,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-03,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-04,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.9050
4,2010-01-05,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.8360
5,2010-01-06,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.7150
6,2010-01-07,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.7750
7,2010-01-08,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.7750
8,2010-01-09,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.7750
9,2010-01-10,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.7750
10,2010-01-11,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.3270
11,2010-01-12,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.5095
12,2010-01-13,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.5967
13,2010-01-14,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.4750
14,2010-01-15,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.5450
15,2010-01-16,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.5450
16,2010-01-17,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.5450
17,2010-01-18,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.5909
18,2010-01-19,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.6060
19,2010-01-20,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.7513
20,2010-01-21,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.7560
21,2010-01-22,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.8400
22,2010-01-23,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.8400
23,2010-01-24,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.8400
24,2010-01-25,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1172
25,2010-01-26,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.3188
26,2010-01-27,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.3078
27,2010-01-28,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.3568
28,2010-01-29,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.3482
29,2010-01-30,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.3482
...,...,...,...,...,...,...,...,...,...,...
2454,2016-09-20,44.3677,19979.4,-0.6,530.1,597.8,133.16,5.823,-0.9,64.8147
2455,2016-09-21,44.3677,19979.4,-0.6,530.1,597.8,133.16,5.823,-0.9,64.2133
2456,2016-09-22,44.3677,19979.4,-0.6,530.1,597.8,133.16,5.823,-0.9,63.6489
2457,2016-09-23,44.3677,19979.4,-0.6,530.1,597.8,133.16,5.823,-0.9,64.0796
2458,2016-09-24,44.3677,19979.4,-0.6,530.1,597.8,133.16,5.823,-0.9,64.0796
2459,2016-09-25,44.3677,19979.4,-0.6,530.1,597.8,133.16,5.823,-0.9,64.0796
2460,2016-09-26,44.3677,19979.4,-0.6,530.1,597.8,133.16,5.823,-0.9,63.8128
2461,2016-09-27,44.3677,19979.4,-0.6,530.1,597.8,133.16,5.823,-0.9,63.9400
2462,2016-09-28,44.3677,19979.4,-0.6,530.1,597.8,133.16,5.823,-0.9,63.7425
2463,2016-09-29,44.3677,19979.4,-0.6,530.1,597.8,133.16,5.823,-0.9,63.1264
2464,2016-09-30,44.3677,19979.4,-0.6,530.1,597.8,133.16,5.823,-0.9,62.8790
2465,2016-10-01,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.8790
2466,2016-10-02,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.8790
2467,2016-10-03,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.1962
2468,2016-10-04,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.6221
2469,2016-10-05,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.3731
2470,2016-10-06,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.1359
2471,2016-10-07,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.3160
2472,2016-10-08,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.3160
2473,2016-10-09,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.3160
2474,2016-10-10,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.0086
2475,2016-10-11,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.6543
2476,2016-10-12,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.9110
2477,2016-10-13,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.9178
2478,2016-10-14,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.9573
2479,2016-10-15,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.9573
2480,2016-10-16,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.9573
2481,2016-10-17,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,63.0856
2482,2016-10-18,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.9512
2483,2016-10-19,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.9512