In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

df_test = pd.read_csv("./test.csv/test.csv",parse_dates=['timestamp'])
df_train = pd.read_csv("./train.csv/train.csv",parse_dates=['timestamp'])

df_train.timestamp.head(10)

0   2011-08-20
1   2011-08-23
2   2011-08-27
3   2011-09-01
4   2011-09-05
5   2011-09-06
6   2011-09-08
7   2011-09-09
8   2011-09-10
9   2011-09-13
Name: timestamp, dtype: datetime64[ns]

In [11]:
df_train.timestamp.dt.year
df = pd.DataFrame()
df["year"] = df_train.timestamp.dt.year
print df["year"]
df["month"] = df_train.timestamp.dt.month
print df.loc[:,["year","month"]]

ind = df[df["year"] == 2011].index
print ind
print df.ix[ind,"year"]
ind = df[df["year"] == 2012].index
print df.ix[ind,"year"]

0        2011
1        2011
2        2011
3        2011
4        2011
5        2011
6        2011
7        2011
8        2011
9        2011
10       2011
11       2011
12       2011
13       2011
14       2011
15       2011
16       2011
17       2011
18       2011
19       2011
20       2011
21       2011
22       2011
23       2011
24       2011
25       2011
26       2011
27       2011
28       2011
29       2011
         ...
30441    2015
30442    2015
30443    2015
30444    2015
30445    2015
30446    2015
30447    2015
30448    2015
30449    2015
30450    2015
30451    2015
30452    2015
30453    2015
30454    2015
30455    2015
30456    2015
30457    2015
30458    2015
30459    2015
30460    2015
30461    2015
30462    2015
30463    2015
30464    2015
30465    2015
30466    2015
30467    2015
30468    2015
30469    2015
30470    2015
Name: year, dtype: int64
       year  month
0      2011      8
1      2011      8
2      2011      8
3      2011      9
4      2011      9
5      2011      9
6      2011      9
7      2011      9
8      2011      9
9      2011      9
10     2011      9
11     2011      9
12     2011      9
13     2011      9
14     2011      9
15     2011      9
16     2011      9
17     2011      9
18     2011      9
19     2011      9
20     2011      9
21     2011      9
22     2011      9
23     2011      9
24     2011      9
25     2011      9
26     2011      9
27     2011      9
28     2011      9
29     2011      9
...     ...    ...
30441  2015      6
30442  2015      6
30443  2015      6
30444  2015      6
30445  2015      6
30446  2015      6
30447  2015      6
30448  2015      6
30449  2015      6
30450  2015      6
30451  2015      6
30452  2015      6
30453  2015      6
30454  2015      6
30455  2015      6
30456  2015      6
30457  2015      6
30458  2015      6
30459  2015      6
30460  2015      6
30461  2015      6
30462  2015      6
30463  2015      6
30464  2015      6
30465  2015      6
30466  2015      6
30467  2015      6
30468  2015      6
30469  2015      6
30470  2015      6

[30471 rows x 2 columns]
Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            743, 744, 745, 746, 747, 748, 749, 750, 751, 752],
           dtype='int64', length=753)
0      2011
1      2011
2      2011
3      2011
4      2011
5      2011
6      2011
7      2011
8      2011
9      2011
10     2011
11     2011
12     2011
13     2011
14     2011
15     2011
16     2011
17     2011
18     2011
19     2011
20     2011
21     2011
22     2011
23     2011
24     2011
25     2011
26     2011
27     2011
28     2011
29     2011
       ...
723    2011
724    2011
725    2011
726    2011
727    2011
728    2011
729    2011
730    2011
731    2011
732    2011
733    2011
734    2011
735    2011
736    2011
737    2011
738    2011
739    2011
740    2011
741    2011
742    2011
743    2011
744    2011
745    2011
746    2011
747    2011
748    2011
749    2011
750    2011
751    2011
752    2011
Name: year, dtype: int64
753     2012
754     2012
755     2012
756     2012
757     2012
758     2012
759     2012
760     2012
761     2012
762     2012
763     2012
764     2012
765     2012
766     2012
767     2012
768     2012
769     2012
770     2012
771     2012
772     2012
773     2012
774     2012
775     2012
776     2012
777     2012
778     2012
779     2012
780     2012
781     2012
782     2012
        ...
5562    2012
5563    2012
5564    2012
5565    2012
5566    2012
5567    2012
5568    2012
5569    2012
5570    2012
5571    2012
5572    2012
5573    2012
5574    2012
5575    2012
5576    2012
5577    2012
5578    2012
5579    2012
5580    2012
5581    2012
5582    2012
5583    2012
5584    2012
5585    2012
5586    2012
5587    2012
5588    2012
5589    2012
5590    2012
5591    2012
Name: year, dtype: int64

In [ ]:
df_train.timestamp.tail(10)

In [ ]:
df_test.timestamp.head(10)

In [ ]:
df_test.timestamp.tail(10)

In [ ]:
discount_2011 = (1+0.0844)*(1+0.0508)*(1+0.0676)*(1+0.0782)*(1+0.1553)
print discount_2011

In [ ]:
discount_2012 = (1+0.0508)*(1+0.0676)*(1+0.0782)*(1+0.1553)
print discount_2012

In [ ]:
print 1/discount_2011

In [ ]:
discount_2013 = (1+0.0676)*(1+0.0782)*(1+0.1553)
print discount_2013

In [ ]:
discount_2014 = (1+0.0782)*(1+0.1553)
print discount_2014

In [ ]:
discount_2015 = (1+0.1553)
print discount_2015

In [ ]:
a = (1+0.0844)*(1+0.0508)*(1+0.0676)*(1+0.0782)
print a

In [ ]:
1/a

In [ ]:
d_11 = (1+0.0844)*(1+0.0508)*(1+0.0676)*(1+0.0782)
d_12 = (1+0.0508)*(1+0.0676)*(1+0.0782)*(1+0.1553)

print (0.1553+0.0782)/2

In [ ]:
print 1/1.11675

In [ ]:
r_11 = (1+0.0507)*(1+0.0676)*(1+0.0782)*(1+0.1553)*(1+0.0705)
print r_11

In [ ]:
r_12 = (1+0.0676)*(1+0.0782)*(1+0.1553)*(1+0.0705)
print r_12

In [ ]:
r_13 = (1+0.0782)*(1+0.1553)*(1+0.0705)
print r_13

In [ ]:
r_14 = (1+0.1553)*(1+0.0705)
print r_14

In [ ]:
r_15 = (1+0.0705)
print r_15