In [1]:
import numpy as np
import pandas as pd
import sys
print sys.path
import sys
#sys.path.append('/home/2829902373/.conda/envs/myenv/lib/python2.7/site-packages/xgboost/__init__.pyc')
#print sys.path
import xgboost as xgb
import matplotlib.pyplot as plt
#import seaborn as sns
%matplotlib inline

df_train = pd.read_csv("./train.csv/train.csv", parse_dates=['timestamp'])
df_test = pd.read_csv("./test.csv/test.csv", parse_dates=['timestamp'])
df_macro = pd.read_csv("./macro.csv", parse_dates=['timestamp'])

['', '/usr/lib/python2.7', '/usr/lib/python2.7/plat-x86_64-linux-gnu', '/usr/lib/python2.7/lib-tk', '/usr/lib/python2.7/lib-old', '/usr/lib/python2.7/lib-dynload', '/usr/local/lib/python2.7/dist-packages', '/usr/lib/python2.7/dist-packages', '/usr/lib/python2.7/dist-packages/PILcompat', '/usr/lib/python2.7/dist-packages/gtk-2.0', '/usr/lib/python2.7/dist-packages/ubuntu-sso-client', '/usr/local/lib/python2.7/dist-packages/IPython/extensions', '/home/kazuki/.ipython']

/usr/local/lib/python2.7/dist-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
# =============================
# =============================
# cleanup
# brings error down a lot by removing extreme price per sqm
#print(df_train.shape)


#Very Strange data
df_train.loc[df_train['id'] == 10092, 'build_year'] = 2007
df_train.loc[df_train['id'] == 10092, 'state'] = 3
df_train.loc[df_train['id'] == 10093, 'build_year'] = 2009



#df_train.loc[df_train.full_sq == 0, 'full_sq'] = 30
print df_train[df_train.price_doc / df_train.full_sq > 600000]
df_train = df_train[df_train.price_doc/df_train.full_sq <= 600000]
df_train = df_train[df_train.price_doc/df_train.full_sq >= 10000]
#print(df_train.shape)
#print df_train.describe()
# =============================
# =============================

          id  timestamp  full_sq  life_sq  floor  max_floor  material  \
1188    1189 2012-02-14        9     44.0    3.0        NaN       NaN
2009    2012 2012-04-25        5     40.0    5.0        NaN       NaN
2118    2121 2012-05-10       55     31.0   12.0        NaN       NaN
6112    6115 2013-02-22        6      NaN    3.0        NaN       NaN
11332  11335 2013-10-18        1     40.0   10.0       17.0       1.0
16289  16292 2014-03-20        1      1.0    1.0        1.0       4.0
16738  16741 2014-03-31        1      1.0    1.0        1.0       4.0
17194  17197 2014-04-09        1      1.0    1.0        1.0       1.0
17932  17935 2014-04-28        0      0.0    0.0        0.0       1.0
18600  18603 2014-05-19        1      1.0    1.0        1.0       1.0
22171  22174 2014-09-03        1      1.0    1.0        1.0       1.0
22412  22415 2014-09-11        1     47.0   11.0       17.0       1.0
22722  22725 2014-09-20        1      1.0    1.0       25.0       1.0
22795  22798 2014-09-23        1      1.0    7.0       19.0       1.0
22871  22874 2014-09-24        1      1.0    1.0        1.0       1.0
23048  23051 2014-09-29        1      1.0    1.0        1.0       1.0
23228  23231 2014-10-03        1      1.0    1.0        1.0       1.0
23573  23576 2014-10-15        1      1.0    1.0        1.0       1.0
23726  23729 2014-10-20        1      1.0    1.0        1.0       1.0
24296  24299 2014-11-05        0     77.0    4.0       17.0       1.0
24627  24630 2014-11-12        1      1.0    1.0        1.0       1.0
24892  24895 2014-11-18        1      1.0   26.0        1.0       1.0
25569  25572 2014-12-01        1      1.0    1.0       17.0       1.0
25887  25890 2014-12-05        1      1.0   19.0        4.0       1.0
26264  26267 2014-12-11        1     60.0   17.0       17.0       1.0
26363  26366 2014-12-12        1     64.0   22.0       22.0       1.0
26386  26389 2014-12-13        1      1.0    1.0        1.0       1.0
26582  26585 2014-12-16        1      1.0    1.0        1.0       1.0
26925  26928 2014-12-20        1      1.0   17.0        1.0       1.0
27154  27157 2014-12-26        1      1.0    1.0        1.0       1.0

       build_year  num_room  kitch_sq    ...      cafe_count_5000_price_2500  \
1188          NaN       NaN       NaN    ...                               6
2009          NaN       NaN       NaN    ...                               6
2118          NaN       NaN       NaN    ...                              18
6112          NaN       NaN       NaN    ...                               0
11332      2013.0       1.0       1.0    ...                               1
16289         1.0       1.0       1.0    ...                               0
16738         1.0       1.0       1.0    ...                               0
17194         1.0       1.0       1.0    ...                              23
17932         0.0       0.0       0.0    ...                               0
18600         1.0       1.0       1.0    ...                             371
22171         1.0       1.0       1.0    ...                               1
22412      2014.0       1.0       1.0    ...                             278
22722      2014.0       1.0       1.0    ...                               1
22795      2015.0       3.0       1.0    ...                               1
22871      2015.0       1.0       1.0    ...                               1
23048         NaN       1.0       1.0    ...                              48
23228         1.0       1.0       1.0    ...                              15
23573         1.0       1.0       1.0    ...                              36
23726         1.0       1.0       1.0    ...                               1
24296         0.0       3.0       0.0    ...                               1
24627         1.0       1.0       1.0    ...                               0
24892         1.0       1.0       1.0    ...                              12
25569         1.0       1.0       1.0    ...                               2
25887         1.0       1.0       1.0    ...                              13
26264      2014.0       2.0       1.0    ...                               1
26363         NaN       2.0       1.0    ...                               7
26386         1.0       1.0       1.0    ...                              13
26582         1.0       1.0       1.0    ...                              36
26925         1.0       1.0       1.0    ...                               2
27154         1.0       1.0       1.0    ...                              36

      cafe_count_5000_price_4000 cafe_count_5000_price_high  \
1188                           3                          0
2009                           2                          0
2118                           0                          0
6112                           0                          0
11332                          0                          0
16289                          0                          0
16738                          0                          0
17194                          4                          1
17932                          0                          0
18600                        141                         26
22171                          1                          0
22412                        118                         24
22722                          0                          0
22795                          0                          0
22871                          0                          0
23048                         15                          1
23228                          3                          0
23573                          7                          2
23726                          0                          0
24296                          1                          0
24627                          0                          0
24892                          3                          0
25569                          1                          0
25887                          4                          1
26264                          0                          0
26363                          1                          0
26386                          1                          0
26582                          7                          2
26925                          1                          0
27154                          7                          2

       big_church_count_5000  church_count_5000  mosque_count_5000  \
1188                       9                 18                  0
2009                      10                 14                  0
2118                       6                 28                  1
6112                       1                  7                  1
11332                      1                  5                  1
16289                      1                  7                  1
16738                      1                  7                  1
17194                     11                 14                  0
17932                      1                  7                  1
18600                    150                249                  2
22171                      2                 12                  0
22412                     68                120                  0
22722                      4                  6                  0
22795                      1                  6                  0
22871                      4                  6                  0
23048                     11                 25                  0
23228                     15                 28                  0
23573                     20                 38                  1
23726                      4                  6                  0
24296                      2                 12                  0
24627                      1                  7                  1
24892                     12                 10                  0
25569                      0                 10                  0
25887                      5                  5                  0
26264                      4                  5                  0
26363                      7                 16                  0
26386                      5                 15                  0
26582                     15                 33                  1
26925                      0                 10                  0
27154                     15                 33                  1

       leisure_count_5000  sport_count_5000  market_count_5000  price_doc
1188                   10                53                  9    6300000
2009                    2                50                  5    5770000
2118                    4                48                  8  111111112
6112                    0                12                  1    5177040
11332                   0                14                  1    3357774
16289                   0                12                  1    4457400
16738                   0                12                  1    7820575
17194                   1                72                  9   13066000
17932                   0                12                  1    4425000
18600                 105               203                 13    6675730
22171                   1                10                  0    6256186
22412                  73               167                  9   14923206
22722                   0                 5                  1    4740000
22795                   0                 6                  1    5591788
22871                   0                 5                  1    4740000
23048                   6                97                  4   27259184
23228                   8                67                 15   13452318
23573                  12                79                 12   11731927
23726                   0                 5                  1    4819000
24296                   1                10                  0    8167508
24627                   0                12                  1    5000550
24892                   1                49                  5   17035200
25569                   0                 0                  0    4838066
25887                   1                36                  5   16160462
26264                   0                 4                  1    5983900
26363                   0                34                  5   14430018
26386                   3                35                  3    5510645
26582                  12                76                 10   10145891
26925                   0                 0                  0    3793778
27154                  12                75                 10   15318960

[30 rows x 292 columns]

In [ ]:
#==============================
y_train =df_train['price_doc'].values
Y = df_train["price_doc"].values
id_test = df_test['id']

#df_train.drop(['id', 'price_doc'], axis=1, inplace=True)
#df_test.drop(['id'], axis=1, inplace=True)
#=============================

In [ ]:
# Build df_all = (df_train+df_test).join(df_macro)
num_train = len(df_train)
df_all = pd.concat([df_train, df_test])
#print df_all.shape
#print df_all.columns
df_all = df_all.join(df_macro, on='timestamp', rsuffix='_macro')
#print df_all.shape
#print df_all.columns
# ==============================
#Clean Strange Data

#full_sq is 0
bad_index = df_all[df_all.full_sq == 0].index
df_all.ix[bad_index, 'full_sq'] = np.NaN

#Life_sq > Full_sq is strange
bad_index = df_all[df_all.life_sq > df_all.full_sq].index
df_all.ix[bad_index, "life_sq"] = np.NaN

#Remove too small Life_Sq data 
bad_index = df_all[df_all.life_sq < 5].index
df_all.ix[bad_index, "life_sq"] = np.NaN

#Remove too small Full_sq data
bad_index = df_all[df_all.full_sq < 5].index
df_all.ix[bad_index, "full_sq"] = np.NaN

#
kitch_is_build_year = [13117]
df_all.ix[kitch_is_build_year, "build_year"] = df_all.ix[kitch_is_build_year, "kitch_sq"]

#Kitch_sq > life_sq is strange
bad_index = df_all[df_all.kitch_sq >= df_all.life_sq].index
df_all.ix[bad_index, "kitch_sq"] = np.NaN

#Kitch_sq == 0 or ==1 is strange
bad_index = df_all[(df_all.kitch_sq == 0).values + (df_all.kitch_sq == 1).values].index
df_all.ix[bad_index, "kitch_sq"] = np.NaN

#
bad_index = df_all[(df_all.full_sq > 210) & (df_all.life_sq / df_all.full_sq < 0.3)].index
df_all.ix[bad_index, "full_sq"] = np.NaN

#Too old house 
bad_index = df_all[df_all.build_year < 1500].index
df_all.ix[bad_index, "build_year"] = np.NaN

#Too new house
bad_index = df_all[df_all.build_year > 2020].index
df_all.ix[bad_index, "build_year"] = np.NaN

#No room 
bad_index = df_all[df_all.num_room == 0].index 
df_all.ix[bad_index, "num_room"] = np.NaN

#No max floor and floor
bad_index = df_all[(df_all.floor == 0).values * (df_all.max_floor == 0).values].index
df_all.ix[bad_index, ["max_floor", "floor"]] = np.NaN

#No floor
bad_index = df_all[df_all.floor == 0].index
df_all.ix[bad_index, "floor"] = np.NaN

#No max floor
bad_index = df_all[df_all.max_floor == 0].index
df_all.ix[bad_index, "max_floor"]=np.NaN

#floor > max_floor 
bad_index = df_all[df_all.floor > df_all.max_floor].index
df_all.ix[bad_index, "max_floor"] = np.NaN

#23584 is strange
bad_index = [23584]
df_all.ix[bad_index, "floor"] = np.NaN

#1 <= state <= 4 
bad_index = df_all[df_all.state == 33].index
df_all.ix[bad_index, "state"] = np.NaN




# ==============================
#Clean Data
#from sklearn.preprocessing import RobustScaler
#rbscaler = RobustScaler()
#df_all["rb_full_sq"] = rbscaler.fit_transform(df_all["full_sq"])

In [ ]:
# Add month-year
month_year = (df_all.timestamp.dt.month + df_all.timestamp.dt.year * 100)
month_year_cnt_map = month_year.value_counts().to_dict()
df_all['month_year_cnt'] = month_year.map(month_year_cnt_map)

# Add week-year count
week_year = (df_all.timestamp.dt.weekofyear + df_all.timestamp.dt.year * 100)
week_year_cnt_map = week_year.value_counts().to_dict()
df_all['week_year_cnt'] = week_year.map(week_year_cnt_map)

# Add month and day-of-week
df_all['month'] = df_all.timestamp.dt.month
df_all['dow'] = df_all.timestamp.dt.dayofweek

# Other feature engineering
df_all['rel_floor'] = df_all['floor'] / df_all['max_floor'].astype(float)
df_all['rel_kitch_sq'] = df_all['kitch_sq'] / df_all['full_sq'].astype(float)
df_all["inverse_floor"] = df_all["max_floor"]-df_all["floor"]
df_all["extra_area"] = df_all["full_sq"] - df_all["life_sq"]
df_all["room_size"] = (df_all["life_sq"] - df_all["kitch_sq"])/df_all["num_room"]
df_all["pop_density_raion"] = df_all["raion_popul"]/df_all["area_m"]
df_all["young_proportion"] =df_all["young_all"] / df_all["full_all"]
df_all["work_proportion"] = df_all["work_all"] / df_all["full_all"]
df_all["retire_proportion"] = df_all["ekder_all"] / df_all["full_all"]
df_all["ratio_preschool"] = df_all["children_school"] /df_all["preschool_quota"]
df_all["ratio_school"] = df_all["children_school"] / df_all["school_quota"]
df_all["year_old"] = df_all.timestamp.dt.year-df_all["build_year"]
df_all["apartmentname"] =df_all.sub_area + df_all['metro_km_avto'].astype(str)

#print df_all[df_all.price_doc/df_all.full_sq > 600000]


#df_all["FAR"]=df_all["full_sq"]/df_all["area_m"].astype(float)
#df_all["ratio_life"]=((df_all["full_sq"]-df_all["kitch_sq"])/df_all["life_sq"]).astype(float)
#df_all["sqrt_area"] = np.sqrt(df_all["area_m"])
#df_all["log_full_sq"] = np.log(df_all["full_sq"])
#df_all["log_life_sq"] = np.log(df_all["life_sq"])
#df_all["log_kitch_sq"] = np.log(df_all["kitch_sq"])
#df_all["log_area_m"] = np.log(df_all["area_m"])
#df_all.drop(['full_sq','life_sq','kitch_sq','area_m'],axis=1,inplace=True)
#print df_all.loc[:,["sub_area","full_sq","life_sq","sqrt_area","area_m"]]

#df_all["st_mate"] = df_all["state"]*df_all["material"]

In [ ]:
#clean build_year

#col = "build_year"
#df_all[col].fillna(0,inplace=True)
#df_all["build_year"] = df_all[df_all.build_year.values > 0]
#ulimit = np.percentile(df_all[col].values, 99.995)
#llimit = np.percentile(df_all[col].values, 0.005)
#df_all[col].ix[df_all[col]>ulimit] = ulimit
#df_all[col].ix[df_all[col]<llimit] = llimit

In [ ]:
#df_all["build_year"].describe()
#print df_all.loc[:,["build_count_before_1920","build_count_1921-1945","build_count_1946-1970","build_count_1971-1995","build_count_after_1995"]]
#df_all.loc[:,["timestamp","sub_area","raion_build_count_with_builddate_info","build_count_before_1920","build_count_1921-1945", "build_count_1946-1970","build_count_1971-1995","build_count_after_1995","build_year"]]
#df_all["room_area"] = ((df_all["life_sq"] - df_all["kitch_sq"])/df_all["num_room"]).astype(float)
#df_all.loc[:,["sub_area","raion_popul"]]
#df_all["raion_build_count_with_builddate_info"].describe([0.01,0.99])

df_all.drop(['id', 'price_doc'], axis=1, inplace=True)
#df_test.drop(['id'], axis=1, inplace=True)

# Remove timestamp column (may overfit the model in train)
df_all.drop(['timestamp', 'timestamp_macro'], axis=1, inplace=True)

factorize = lambda t: pd.factorize(t[1])[0]

df_obj = df_all.select_dtypes(include=['object'])

X_all = np.c_[
    df_all.select_dtypes(exclude=['object']).values,
    np.array(list(map(factorize, df_obj.iteritems()))).T
]

#print(X_all.shape)

X_train = X_all[:num_train]
X_test = X_all[num_train:]


# Deal with categorical values
df_numeric = df_all.select_dtypes(exclude=['object'])
df_obj = df_all.select_dtypes(include=['object']).copy()

for c in df_obj:
    df_obj[c] = pd.factorize(df_obj[c])[0]

df_values = pd.concat([df_numeric, df_obj], axis=1)


# Convert to numpy values
X_all = df_values.values
#print(X_all.shape)

X_train = X_all[:num_train]
X_test = X_all[num_train:]

df_columns = df_values.columns


xgb_params = {
    'eta': 0.05,
    'max_depth': 5,
    'subsample': 0.7,
    'colsample_bytree': 0.7,
    'objective': 'reg:linear',
    'eval_metric': 'rmse',
    'silent': 1
}

dtrain = xgb.DMatrix(X_train, y_train, feature_names=df_columns)
dtest = xgb.DMatrix(X_test, feature_names=df_columns)


# Uncomment to tune XGB `num_boost_rounds`

cv_result = xgb.cv(xgb_params, dtrain, num_boost_round=2000, early_stopping_rounds=20,verbose_eval=True, show_stdv=False)
cv_result[['train-rmse-mean', 'test-rmse-mean']].plot()
print cv_result['test-rmse-mean'].min()

In [ ]:
#num_boost_rounds = len(cv_result)

num_boost_round = 427

model = xgb.train(dict(xgb_params, silent=0), dtrain, num_boost_round=num_boost_round)

fig, ax = plt.subplots(1, 1, figsize=(15, 50))
xgb.plot_importance(model,height=0.5, ax=ax)
plt.show()

y_pred = model.predict(dtest)
y_pred = np.round(y_pred)
df_sub = pd.DataFrame({'id': id_test, 'price_doc': y_pred})


df_sub.to_csv('sub_530_3.csv', index=False)

In [ ]:
print df_sub